Flask>=2.0.1
Flask-SQLAlchemy
flask-cors>=3.0.10
Werkzeug
python-dotenv>=0.17.1
MarkupSafe
requests>=2.25.1
tensorflow
keras
numpy>=1.20.0
opencv-python>=4.5.0
pydub==0.25.1
pillow>=9.0.0
elevenlabs>=0.2.24
SpeechRecognition>=3.8.1
pyaudio>=0.2.11
wave>=0.0.2
mediapipe>=0.8.9
streamlit==1.28.0
pytesseract==0.3.10
langchain==0.0.335
PyPDF2>=3.0.0
google-generativeai>=0.3.0
gunicorn