Flask==2.3.3
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
Werkzeug==2.3.7
python-dotenv==0.21.0
MarkupSafe==2.1.3
requests==2.32.2
tensorflow==2.16.2
keras==3.8.0
numpy==1.26.4
opencv-python==4.11.0.86
pydub==0.25.1
Pillow==10.4.0
elevenlabs==1.56.0
SpeechRecognition==3.14.2
PyAudio==0.2.14
Wave==0.0.2
mediapipe==0.10.21  
pytesseract==0.3.10
PyPDF2==3.0.1
PyMuPDF==1.25.5
google-generativeai==0.8.4
gunicorn
easyocr==1.7.2
protobuf==4.25.6
pygame==2.6.1
SQLAlchemy==2.0.38
elevenlabs==1.56.0
